@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --brand-red: #ce1620;
  --brand-blue: #0160a0;
  --brand-yellow: #f4c000;
  --brand-text: #1a1a1a;
  --brand-bg: #F1EFEE;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--brand-bg);
  color: var(--brand-text);
  font-family: Arial, Helvetica, sans-serif;
}
